:root {
  --primary-color: #4e0070;
  --secondary-color: #4c79d3;
  --text-color: #ffffff;
}

#login {
  background: linear-gradient(120deg, var(--secondary-color) 44.9%, #fff 45%) no-repeat fixed;
}
#app {
  background: linear-gradient(120deg, #fff 44.9%, var(--secondary-color) 45%) no-repeat fixed;
}
/* Header */
header .navbar-expand-md {
  /* border-bottom: 1px solid #bebcbc !important; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  padding: 5px;
}

/* Logo */
.img-logo {
  width: 6rem;
}
/* Botão home */
.btn.color-primary {
  color: var(--primary-color);
}
:is(.btn.color-primary, .btn.color-secondary):hover {
  background-color: var(--primary-color);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.color-secondary {
  color: var(--secondary-color);
}
/* Ícone detail */
.icon-detail {
  color: var(--primary-color);
  font-size: 50px;
  margin-right: 10px;
  vertical-align: middle;
}
.text-login {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.coins {
  position: absolute;
  bottom: 100px;
}
/* Botões */
.button-default {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 8px;
}
.button-cancel{
  border-radius: 8px;
}

.button-login {
  background-color: var(--primary-color);
  border: none;
  width: 50%;
  margin: 0 25%;
  color: #fff;
  border-radius: 8px;
}
:is(.button-login, .button-default):hover {
  background: var(--secondary-color);
  color: #fff;
}
.button-float{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 35px;
  background: var(--primary-color);
  color: #fff;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.7);
  line-height: 0;
}
.button-float:hover {
  background: var(--secondary-color);
  color: #fff;
}
.link-default {
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}
.link-default:hover {
  color: var(--secondary-color);
}
main {
  padding-top: 56px;
}
/* Informações */
.info {
  background: #fff;
  border-radius: 20px 20px 0 0;
  padding: 20px 0 0;
}

