#login {
  background: linear-gradient(120deg, #4c79d3 44.9%, #fff 45%) no-repeat fixed;
}
.text-login {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.coins {
  position: absolute;
  bottom: 100px;
}
.button-login {
  background-color: #4e0070;
  border: none;
  width: 50%;
  margin: 0 25%;
  color: #fff;
  border-radius: 8px;
}
.button-login:hover {
  background: #4c79d3;
  color: #fff;
}
.link-default {
  color: #4e0070;
  font-weight: 500;
  cursor: pointer;
}
.link-default:hover {
  color: #4c79d3;
}
